# Ignore the virtual environment
venv/

# Ignore raw dataset files (grandes)
data/raw/*.csv

# Ignore processed files grandes
data/processed/*.csv
data/processed/*_sample20_sorted.parquet

# Allow smaller sample parquet files (por ejemplo sample10)
!data/processed/*_sample10_sorted.parquet

# Keep raw folder placeholder
!data/raw/.gitkeep


